pandas
#plotly
openpyxl
./whl/descartes-1.1.0-py2.py3-none-any.whl
.//whl/Fiona-1.8.18-cp38-cp38-win_amd64.whl
#./whl/GDAL-3.2.1-cp38-cp38-win_amd64.whl
./whl/pyproj-3.0.0.post1-cp38-cp38-win_amd64.whl
# ./whl/Rtree-0.9.7-cp38-cp38-win_amd64.whl
rtree #now on pip
./whl/rasterio-1.1.8-cp38-cp38-win_amd64.whl
./whl/GDAL-3.1.4-cp38-cp38-win_amd64.whl
contextily
shapely
geopandas
pygeos #for speedup